*.mat
*.mod
*.o
*.a
*.log
*.pyc
Makefile_deps
.ipynb_checkpoints/
bin/ecrad
driver/test_spartacus_math
test/i3rc/config_3reg_1d.nam
test/i3rc/config_3reg_3d.nam
test/i3rc/config_3reg_3d_clustering.nam
test/i3rc/config_mcica.nam
test/i3rc/config_tc.nam
test/i3rc/i3rc_mls_cumulus_3reg_1d_out.nc
test/i3rc/i3rc_mls_cumulus_3reg_3d_clustering_out.nc
test/i3rc/i3rc_mls_cumulus_3reg_3d_out.nc
test/i3rc/i3rc_mls_cumulus_mcica_out.nc
test/i3rc/i3rc_mls_cumulus_sza.nc
test/i3rc/i3rc_mls_cumulus_tc_out.nc
test/ifs/config_expran.nam
test/ifs/config_noaer.nam
test/ifs/config_spartacus.nam
test/ifs/config_spartacus_maxentr.nam
test/ifs/config_tc.nam
test/ifs/ecrad_meridian_default_out.nc
test/ifs/ecrad_meridian_expran_out.nc
test/ifs/ecrad_meridian_noaer_out.nc
test/ifs/ecrad_meridian_spartacus_maxentr_out.nc
test/ifs/ecrad_meridian_spartacus_out.nc
test/ifs/ecrad_meridian_tc_out.nc
test/ifs/input.png
test/ifs/inputs.nc
test/ifs/output.png
test/nwp_saf_profiles/nwp_saf_profiles.nc
test/nwp_saf_profiles/*_out.nc
practical/data
practical/ecrad